@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron');
* { margin:0; padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; }
body { font-family:'Orbitron'; }

/* 전체 프레임 */
#wrap { 
	position:fixed;  
	left:0; top:0; 
	width:100%; height:100%;
	min-width:1400px;
	min-height:780px;
	background-image:url(../images/bg_morning.jpg);
	background-size:cover;
	transition:all 2.5s;
}
/* 로고 */
/* #wrap h1 {
	width:90px; height:80px;
	position:fixed;
	left:60px; top:10px;
	background-image:url(../images/logo_b.png);
	background-size:contain;
	background-repeat:no-repeat;
} */
/* 주메뉴 */
#gnb { 
	position:fixed;
	right:200px; top:50px;
}
#gnb li {
	float:left;
	margin-left:30px;
}
#gnb li a {
	font-size:14px;
	font-weight:bold;
	color:#555;
}

/* SNS */
#sns {
	position:fixed;
	right:50px; top:50px;
}
#sns li {
	float:left;
	margin-left:30px;
}
#sns li a {
	font-size:18px;
	color:#555;
}

/* 텍스트 박스 */
article {
	position:absolute;
	left:150px; top:350px;
	width:450px;
}
article p {
	font-size:50px;
	color:#666;
}
article p strong {
	color:#111;
}
article em {
	font-size:14px;
	font-style:normal;
	color:#333;
}

/* 아이폰 */
figure {
	position:absolute;
	right:-300px; top:200px;
	width:1226px; height:809px;
	background-image:url(../images/phone_morning.png);
	transition:all 2s;
}
figure p {
	position:absolute;
	left:137px; top:100px;
	width:540px; height:307px;
	overflow:hidden;
	font-size:60px; 
	font-weight:bold;
	color:#333;
	line-height:4.6;
	box-sizing:border-box;
	padding-left:50px;
}
figure p span {
	position:relative;
	z-index:5;
}

/* 테마 버튼 */
nav {
	position:fixed;
	bottom:70px; left:6%;
	width:88%;
}
nav li {
	float:left;
	width:25%;
}
nav li a {
	display:block;
	width:98%; height:35px;
	background:#fff;
	color:#111;
	margin:0 auto;
	transition:all 0.5s;
	font-size:12px;
	font-weight:bold;
	line-height:3;
	letter-spacing:3px;
	box-sizing:border-box;
	padding-left:30px;
	opacity:0.6;
	z-index:1;
	position:relative;
}
nav li:hover a {
	background:#111;
	color:#ddd;
	opacity:0.9;
}

/* 구름 모션 */
@keyframes ani1 {
	0% { left:-1146px; }
	100% { left:1950px; }
}

@keyframes ani2 {
	0% { left:0px; }
	50% { left:1950px; opacity:0; }
	50.001% { left:-1840px; opacity:0.8; }
	100% { left:0px;}
}


@keyframes ani3 {
	0% { left:-600px; }
	100% { left:540px; }
}

@keyframes ani4 {
	0% { left:0px; }
	50% { left:540px; opacity:0; }
	50.001% { left:-700px; opacity:1; }
	100% { left:0px;}
}

/* 배경 구름 */
#wrap > img:nth-child(1) {
	position:absolute;
	left:-1146px; top:0px;
	animation:ani1 110s linear infinite;
	opacity:0.8;
}
#wrap > img:nth-child(2) {
	position:absolute;
	left:0px; top:0px;
	animation:ani2 100s linear infinite;
	opacity:0.8;
}

/* 모바일 구름 */
figure p img.cl1 {
	position:absolute;
	width:600px; height:auto;
	left:-600px; top:30px;
	animation:ani3 110s linear infinite;
	z-index:4;
}
figure p img.cl2 {
	position:absolute;
	width:700px; height:auto;
	left:0px; top:20px;
	animation:ani4 100s linear infinite;
	z-index:4;
}

/* 아침 테마 */
#wrap.morning { background-image:url(../images/bg_morning.jpg); }
#wrap.morning h1 { background-image:url(../images/logo_b.png); }
#wrap.morning #gnb a { color:#555; }
#wrap.morning #sns i { color:#555; }
#wrap.morning figure { background-image:url(../images/phone_morning.png);}
#wrap.morning article p { color:#666; }
#wrap.morning article p strong { color:#111; }
#wrap.morning article em { color:#333; }
#wrap.morning figure p { color:#333; }
#wrap.morning > img:nth-child(1) { opacity:1; }
#wrap.morning > img:nth-child(2) { opacity:1; }

/* 오후 테마 */
#wrap.afternoon { background-image:url(../images/bg_afternoon.jpg); }
#wrap.afternoon h1 { background-image:url(../images/logo_b.png); }
#wrap.afternoon #gnb a { color:#555; }
#wrap.afternoon #sns i { color:#555; }
#wrap.afternoon figure { background-image:url(../images/phone_afternoon.png);}
#wrap.afternoon article p { color:#666; }
#wrap.afternoon article p strong { color:#111; }
#wrap.afternoon article em { color:#333; }
#wrap.afternoon figure p { color:#333; }
#wrap.afternoon > img:nth-child(1) { opacity:1; }
#wrap.afternoon > img:nth-child(2) { opacity:1; }

/* 저녁 테마 */
#wrap.evening { background-image:url(../images/bg_evening.jpg); }
#wrap.evening h1 { background-image:url(../images/logo_w.png); }
#wrap.evening #gnb a { color:#fff; }
#wrap.evening #sns i { color:#fff; }
#wrap.evening figure { background-image:url(../images/phone_evening.png);}
#wrap.evening article p { color:#444; }
#wrap.evening article p strong { color:#111; }
#wrap.evening article em { color:#333; }
#wrap.evening figure p { color:#fff; }
#wrap.evening > img:nth-child(1) { opacity:0.6; }
#wrap.evening > img:nth-child(2) { opacity:0.6; }

/* 밤 테마 */
#wrap.night { background-image:url(../images/bg_night.jpg); }
#wrap.night h1 { background-image:url(../images/logo_w.png); }
#wrap.night #gnb a { color:#fff; }
#wrap.night #sns i { color:#fff; }
#wrap.night figure { background-image:url(../images/phone_night.png);}
#wrap.night article p { color:#444; }
#wrap.night article p strong { color:#111; }
#wrap.night article em { color:#333; }
#wrap.night figure p { color:#fff; }
#wrap.night > img:nth-child(1) { opacity:0.1; }
#wrap.night > img:nth-child(2) { opacity:0.1; }
#wrap.night figure p img.cl1 { opacity:0.4; }
#wrap.night figure p img.cl2 { opacity:0.4; }




/*
body {
	background-image:url(../images/bg_morning.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
h1 {
	position:absolute;
	margin-left:30px;
	margin-top:30px;
	bottom:800px;
	background-image:url(../images/logo_b.png) no-repeat;
}
ul#gnb {
	position:absolute;
	top:50px; right:150px;
}
ul#gnb li {
	float:left;
	margin-right:36px;
}
ul#sns {
	position:absolute;
	top:49px; right:25px;
}
ul#sns li {
	float:left;
	margin-right:20px;
}
article {
	position:absolute;
	top:390px; left:100px;
}
p {
	font-weight:200;
	font-size:60px;
	color:gray;
}
em {
	font-style:normal;
}
strong {
	color:#000;
	margin-right:10px;
}
figure {
	background-image:url(../images/phone_morning.png);
	background-repeat:no-repeat;
	position:absolute;
	top:200px; left:900px;
	height:800px;
}
img.cl1 {
	position:absolute;
	width:1146px; height:503px;
	right:1600px; top:300px;
}
figure p {
	position:relative;
	top:-300px; left:220px;	
}
span {
	position:relative;
	top:500px;
}
nav {
	position:absolute;
	bottom:10px;
}
nav ul {
	margin-left:70px;
}
nav ul li {
	float:left;
	padding-left:16px;
	margin-right:10px;
	text-align:center;
	background-color:rgba(255,255,255,0.6);
	width:400px; height:30px;
	cursor:pointer;
}
nav ul li:hover { background:#000; }
nav ul li a:hover { color:#fff; }

@keyframes cloud1 {
	from { left:0px; }
	to { left:1000px;}
}
div#wrap > img:nth-child(1) {
	position:absolute;
	width:1146px; height:543px;
	animation:cloud1 10s infinite;
	z-index:99;
}
div#wrap > img:nth-chiid(2) {
	position:absolute;
	width:1146px; height:543px;
	animation:cloud1 40s infinite;
}
*/